# Mac OS Files
*.DS_Store

# Eclipse
.settings/
.externalToolBuilders/
bin/
*.project
*.classpath
*.xml

# IntelliJ IDEA
.idea/

# Java
*.class

# Maven
target/

# Other
wiki/

# Don't Ignore
!pom.xml