# Mac OSX
.DS_Store
._.DS_Store

# Java
*.class
*.jar

# IntelliJ IDEA
.idea/
*.iml

# Eclipse IDE
.settings/
bin/
.classpath
.project

# Maven
target/
dependency-reduced-pom.xml

# Other Files
build/