# Eclipse
.settings/
.externalToolBuilders/
*.project
*.classpath
*.xml

# IntelliJ IDEA
.idea/

# Java
*.class
*.jar
*.zip

# Other Files
wiki/

# Don't Ignore
!*pom.xml
!**/builder/target/CombatLogX*.zip