# Eclipse
*.settings/
*.externalToolBuilders/
*.project
*.classpath
*.xml

# Java
*.class
*.jar
*.zip

# Maven
*classes/
*.properties
*.lst

# Stuff that should not be ignored
!*pom.xml
!target/CombatLogX.zip
/target/
